@model IEnumerable<Workers.Data.Entity.Department>
@{
    ViewData["Title"] = "ListDepartments";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        <div class="table-data__tool">
            <div class="table-data__tool-left">
                <form asp-action="ListDepartments" method="get">
                    <div class="form-actions bg-light">
                        <p>
                            <input type="text" name="search" value="@ViewBag.SearchBox" />
                            <input type="submit" value="Ara" class="btn btn-primary" />
                        </p>
                    </div>
                </form>
            </div>
            <div class="table-data__tool-right">
                <a asp-action="AddDepartment" class="btn au-btn au-btn-icon au-btn--green au-btn--small">
                    <i class="zmdi zmdi-plus"></i>Departman Ekle
                </a>
            </div>
        </div>
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                    <tr>
                        <th>
                            <a asp-action="ListDepartments" asp-route-sortBy="@ViewBag.sortBy">
                                Departman adı
                            </a>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var dept in Model)
                    {
                        <tr class="tr-shadow">
                            <td>@dept.DeptName</td>
                            <td>
                                <div class="table-data-feature">
                                    <a class="item btn" asp-action="EditDepartment" asp-route-id="@dept.Id" data-toggle="tooltip" data-placement="top" title="Edit">
                                        <i class="zmdi zmdi-edit"></i>
                                    </a>
                                    <a class="item btn" asp-action="DeleteDepartment" asp-route-id="@dept.Id" data-toggle="tooltip" data-placement="top" title="Delete">
                                        <i class="zmdi zmdi-delete"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr class="spacer"></tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE -->
    </div>
</div>
